*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #ffffff;
}

a{
    text-decoration: none;
}

a:hover{
    color: #e1e3e1;
}

ul{
    list-style-type: none;
}

.logo-title{
    height: 100%;
    width: 100%;
}

h2{
    color: #99FFFF;
}

.nav-bar-responsive{
    display:none;
}

.nav-bar{
    display: flex;
    height: 50px;
    background-color: #1c2836;
}

.nav-items{
    margin: 20px;
}

.nav-item{
    display: inline;
    margin:30px;
}

.nav-logo{
    height: 50px;
    float: left;
}

.buy-mio{
    text-decoration: none;
    padding: 14px;
    position: absolute;
    border-radius: 50px;
    background-color: #ffffff;
    color: #64c4c4;
    right: 0;
}

.buy-mio:hover{
    color: #52a7a7;
}

@media only screen and (max-width:570px){
    .nav-bar{
        display:none;
    }

    .nav-bar-responsive{
        display:block;
        height: 50px;
        background-color:#1c2836;
    }

    .dropdown .dropbtn{
        font-size: 40px;
        position: relative;
        border: none;
        outline: none;
        color: white;
        /* padding: 14px 16px; */
        background-color: inherit;
        font-family: inherit; /* Important for vertical align on mobile phones */
        margin:0; /* Important for vertical align on mobile phones */
        float: right;
    }

    .dropdown-content{
        display: none;
        background-color: #263c5c;
        width: 145px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-top: 40px;
        position: absolute;
        right: 0;
    } 

    .dropdown:hover .dropdown-content{
        display: block;
      }
    
    .dropdown-content li:hover {background-color: #1c2836;}
}

.section-main{
    display: flex;
    justify-content: center;
	flex-direction: column;
    align-items: center;
    background-color: #1B2430;
    /* max-height: 1000px; */
    min-height: 95vh;
}

.section-utility{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.main{
    width: 60vw;
}

.main-container{
	width: 100%;
    float: right;
	display: block;
}

.info{
    width: 50%;
    font-size: 23px;
    float: left;
}

.main-img{
    height: 50%;
    width: 50%;
    
}  


@media only screen and (max-width: 900px) {
    .info {
        width: 100%;
        font-size: 23px;
    }
    .main-img{
        width: 100%;
        height: 100%;
    }

    .logo-title{
        width: 100%;
        height: 100%;
    }

    .buttons{
        width: 100%;
        float: none;
    }

    .main{
        text-align: center;
    }
    .main-img-container{
        height: 500px;
        width: 400px;
    }
}

.pruebaxd{
    background-color: #1B2430;
}

.info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info-box{
    padding: 10px;
    font-size: 25px;
    margin: 10px;
    display: inline-block;
    min-height: 300px;
    width: 60vw;
    word-wrap: break-word;
    background-color: #3F4E4F;
}

.info3{
    flex-grow:1;
}


.long{
    max-width: 739px;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
	/* margin-top:70px; */
    justify-content: center;
    /* width: 50%; */
    float: left;
}

.buttons a{
    padding: 14px;
    margin: 7px;
    font-size: 16px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 36px;
    border: solid #569e9e;
    transition: 0.7s;
}

.buttons a:hover{
    border: solid #99FFFF;
}

.info-img2-container{
    /* width: 60vh; */
    display: block;
    text-align: center;
    height: 600px;
}

.info-img2{
    height: 100%;
}

.mioc-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.mioc-container img{
    max-height: 350px;
    width: 260px;
}

.stats{
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.stat-elements{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.statbox{
    margin: 0;
    width: 200px;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    border: solid red 1px;
}

.statinfo{
    align-items: center;
    justify-content: center;
    text-align:center;
}

.stat h2{
    font-size: 40px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    margin: 0 0 0 0;
}

.stat p{
    text-align: center;
}

.footer{
    height:200px;
    background-color: #17273f;
    justify-content: center;
    text-align: center;
}

.footer img{
    height: 33%;
}

.footer p{
    height: 33%;
    width: 100%;
}

.feature-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-features{
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
}

.img-feature-container{
    height: 300px;
    width: 300px;
    position: relative;
}

.feature-box{
    min-height: 110px;
    padding: 15px;
    width: 300px;
    margin: 10px;
    background-color: #3F4E4F;
    border-radius: 20px;
}

.feature-row{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 300px;
    display: flex;
}